/* PC向けのスタイル */
@media only screen and (min-width: 768px) {

  /* カレンダーコンテナの背景画像およびカレンダーテーブルのスタイル */
  .submenu-5 .js-archive-module-calendar-container tbody {
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/f/fobitows/20230928/20230928151655.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .submenu-5 .archive-module-calendar table {
    width: 300px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* メニュー項目にホバーしたときのサブメニュー表示 */
  li:hover .submenu-5, li:hover .submenu-6, li:hover .submenu-7, li:hover .submenu-8 {
    opacity: 1;
    pointer-events: auto;
  }
  /* サブメニューの位置設定 */
  .submenu-5, .submenu-6, .submenu-7, .submenu-8 {
    top: -142px;
    left: -160px;
  }
  /* メインメニュー項目の親要素に相対位置を指定 */
  li {
    position: relative;
  }
  /* メインメニューのホバー時のサブメニュー位置調整 */
  li:hover .submenu-5 {
    top: -283px;
    left: 100px;
  }
  li:hover .submenu-6 {
    top: -0px;
    left: 100px;
  }
  li:hover .submenu-7 {
    top: -283px;
    left: -420px;
  }
  li:hover .submenu-8 {
    top: -0px;
    left: -420px;
  }
  
  /* ナビゲーションリストアイテムのスタイル */
  #g-nav-list dd {
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    /* 適切な行の高さに設定 */
  }
  #g-nav-list dd span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 2行まで表示 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 超過時に省略符号を表示 */
  }
  /* ナビゲーションメニュー全体のスタイル */
  #g-nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100vh;
    background: #FDF7F2;
    transition: all 0.6s;
  }
  /* アクティブクラスがついたら位置を0に */
  #g-nav.panelactive {
    left: 0;
  }
  /* ナビゲーションメニューの縦スクロール */
  #g-nav.panelactive #g-nav-list {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  /* 特定のクラスに対するスタイル */
  .hirogeru {
    padding: 0;
    margin: 0 auto;
    width: 200px;
    border: solid 1px gray;
    background: #fbf7f0;
    height: 40px;
    line-height: 40px;
    /* テキストを垂直方向に中央に配置 */
    text-align: center;
    /* テキストを水平方向に中央に配置 */
  }

  /* ページ全体に対するスタイル */
  /*body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }*/
  
  /* リストおよびサブメニューに対するスタイル */
  ul, li {
    transition: all 0.3s ease-in-out;
  }
  .submenu-5, .submenu-6, .submenu-7, .submenu-8 {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  li:hover ul {
    opacity: 1;
    pointer-events: auto;
  }
  #g-nav {
    li ul li {
      display: block;
      text-align: left;
    }
    li ul li a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: #333;
    }
  }
  /* 画像に対するスタイル */
  .submenu-5 img, .submenu-6 img, .submenu-7 img, .submenu-8 img {
    max-width: 300px;
    height: 200px;
    margin-bottom: 5px;
    object-fit: cover;
  }
  li ul li img {
    width: 300px;
    height: 200px;
    margin-bottom: 5px;
    object-fit: cover;
  }
  /* ナビゲーションメニューリストのスタイル */
  #g-nav ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: calc(50% - 0px);
    transform: translate(-50%, -50%);
    margin-left: 0;
  }
  /* ナビゲーションメニューリストアイテムのスタイル */
  #g-nav li {
    list-style: none;
    text-align: center;
  }
  #g-nav ul li ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    background: antiquewhite;
  }
  /* ボタンに対するスタイル */
  .openbtn1 {
    position: fixed;
    z-index: 9999;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  /* ボタンアイコンのスタイル */
  .openbtn1 span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }
  .openbtn1 span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn1 span:nth-of-type(2) {
    top: 23px;
  }
  .openbtn1 span:nth-of-type(3) {
    top: 31px;
  }
  .openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn1.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  /* ホバーエフェクトに対するスタイル */
  .float-on-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: translateY(0);
  }
  .float-on-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #dc83ac;
    color: snow;
    /* ホバー時のテキストカラー */
    position: relative;
    z-index: 9999;
  }
}


/* Mobile Styles */
@media only screen and (max-width: 767px) {
	
　　/* nav#g-nav {
    display: none;
  } */

  .openbtn1 {
	/* display: none; */
    position: fixed;
    z-index: 9999;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .openbtn1 span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }

  .openbtn1 span:nth-of-type(1) {
    top: 15px;
  }

  .openbtn1 span:nth-of-type(2) {
    top: 23px;
  }

  .openbtn1 span:nth-of-type(3) {
    top: 31px;
  }

  .openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn1.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

  #g-nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #FDF7F2;
    transition: all 0.6s;
  }

  #g-nav.panelactive {
    left: 0;
  }

  #g-nav-list {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #g-nav ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: calc(50% - 0px);
    transform: translate(-50%, -50%);
    margin-left: 0;
  }

  #g-nav li {
    list-style: none;
    text-align: center;
  }

  #g-nav ul li ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    background: antiquewhite;
  }

  .submenu-5,
  .submenu-6,
  .submenu-7,
  .submenu-8 {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  li:hover ul {
    opacity: 1;
    pointer-events: auto;
  }

  #g-nav li ul li {
    display: block;
    text-align: left;
  }

  #g-nav li ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
  }

  .float-on-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: translateY(0);
  }

  .float-on-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #dc83ac;
    color: snow;
    position: relative;
    z-index: 9999;
  }


  #g-nav ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
  }

  #g-nav li ul {
    display: none;
    position: static;
    width: 100%;
  }

  #g-nav li:hover ul {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
  }

  #g-nav li:hover ul li {
    text-align: center;
  }

  #g-nav li ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    background: antiquewhite;
  }
}
